In [1]:
# script to create pandas data frame full of attributes (flight, instrument used, etc) 
# author: sofia chelpon
# date created: 2-12-2020

In [1]:
import numpy as np 
import xarray as xr
import pandas as pd 
import datetime 
import seaborn as sns

import datetime as dt 

import matplotlib
from matplotlib import pyplot as plt
import matplotlib.ticker as mticker
from mpl_toolkits import mplot3d

%matplotlib inline
%config inlinebackend.figure_format='retina'

In [2]:
# load in both toga and awas data
mypath1 = '/Volumes/scdrive2/TTS_2020/contrast_readin/awas/awas_trace_gases_twp.nc'
awas_trc = xr.open_dataset(mypath1)

mypath2 = '/Volumes/scdrive2/TTS_2020/contrast_readin/toga_lodhalf/toga_trace_gases_twp.nc'
toga_trc = xr.open_dataset(mypath2)

In [3]:
## flight date info (UTC)
#RF 03 ---> 2014-01-17 00:16:06
#RF 04 ---> 2014-01-19 00:29:14
#RF 05 ---> 2014-01-22 00:18:06
#RF 08 ---> 2014-02-01 04:04:05
#RF 09 ---> 2014-02-04 00:00:06
#RF 10 ---> 2014-02-08 00:18:05
#RF 12 ---> 2014-02-17 00:04:05
#RF 14 ---> 2014-02-22 00:08:05      
        
#NOT ALL FLIGHT DAYS START/END SAME DAY 
#RF06 starts on 2014-01-24 23:54:06 and ends on 2014-01-25 07:04:06
#RF07 starts on 2014-01-28 23:53:06 and ends on 2014-01-29 06:13:06
#RF11 starts on 2014-02-12 23:59:25 and ends on 2014-02-13 06:29:25
#RF13 starts on 2014-02-19 17:02:05 and ends on 2014-02-20 00:20:03
#RF15 starts on 2014-02-24 and ends on 2014-02-25

In [4]:
################# -------------------- TOGA  -------------------- #################

In [5]:
# TOGA - sort flights dates into flight names and notes (from Pan, BAMS 2017) for adding to dataframe 
myflights = []
flightnotes = []

for ii in toga_trc.Time_UTC.values:
    t = np.datetime64(ii)
#RF 03 ---> 2014-01-17 00:16:06
    if (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 17):
        myflights.append('RF03')
        flightnotes.append('Domain survey, 1 - Guam to SE (Chuuk)')
#RF 04 ---> 2014-01-19 00:29:14
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 19):
        myflights.append('RF04')
        flightnotes.append('Domain survey, 1 - Guam to SW (Palau)')
#RF 05 ---> 2014-01-22 00:18:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 22):
        myflights.append('RF05')
        flightnotes.append('Convective outflow, 2 - North of Guam')
#RF06 starts on 2014-01-24 23:54:06 and ends on 2014-01-25 07:04:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 24):
        myflights.append('RF06')
        flightnotes.append('Jet crossing/pre–postfrontal contrast, 4, 5 - N/NW of Guam, entering Fukuoka FIR (JPN)')
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 25):
        myflights.append('RF06')
        flightnotes.append('Jet crossing/pre–postfrontal contrast, 4, 5 - N/NW of Guam, entering Fukuoka FIR (JPN)')
#RF07 starts on 2014-01-28 23:53:06 and ends on 2014-01-29 06:13:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 28):
        myflights.append('RF07')
        flightnotes.append('SH convective outflow survey, 1, 4 - Guam to equatorial region')
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 29):
        myflights.append('RF07')
        flightnotes.append('SH convective outflow survey, 1, 4 - Guam to equatorial region')
#RF 08 ---> 2014-02-01 04:04:05
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 1):
        myflights.append('RF08')
        flightnotes.append('Photochemical evolution– sunset, 3, 7 - Guam to E (stagnation point of A.C.)')
#RF 09 ---> 2014-02-04 00:00:06
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 4):
        myflights.append('RF09')
        flightnotes.append('Equatorial crossing and Manus ozonesonde, 2, 6 - Guam to Port Moresby FIR (PNG)')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 5):
        myflights.append('RF09')
        flightnotes.append('Equatorial crossing and Manus ozonesonde, 2, 6 - Guam to Port Moresby FIR (PNG)')
#RF 10 ---> 2014-02-08 00:18:05 
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 8):
        myflights.append('RF10')
        flightnotes.append('Subtropical jet pollution and ITCZ survey, 2, 5 - Guam to near equator crossing ITCZ near 6°N')
#RF11 starts on 2014-02-12 23:59:25 and ends on 2014-02-13 06:29:25
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 12):
        myflights.append('RF11')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SW')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 13):
        myflights.append('RF11')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SW')
#RF 12 ---> 2014-02-17 00:04:05
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 17):
        myflights.append('RF12')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SE')
#RF13 starts on 2014-02-19 17:02:05 and ends on 2014-02-20 00:20:03
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 19):
        myflights.append('RF13')
        flightnotes.append('Photochemical evolution– sunrise, 3 - Guam to E (stagnation point of A.C.)')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 20):
        myflights.append('RF13')
        flightnotes.append('Photochemical evolution– sunrise, 3 - Guam to E (stagnation point of A.C.)')
#RF 14 ---> 2014-02-22 00:08:05 
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 22):
        myflights.append('RF14')
        flightnotes.append('Equator crossing, SH TTL survey, Manus ozonesonde, 1, 2, 6')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 23):
        myflights.append('RF14')
        flightnotes.append('Equator crossing, SH TTL survey, Manus ozonesonde, 1, 2, 6')
#RF 15 ---> 2014-02-22 00:08:05 
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 24):
        myflights.append('RF15')
        flightnotes.append('Jet crossing and LS survey, 4')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 25):
        myflights.append('RF15')
        flightnotes.append('Jet crossing and LS survey, 4')

In [6]:
# put toga into one dataframe, start building with time 
toga_df = pd.DataFrame({"Time_UTC": toga_trc.Time})
toga_df.insert(1, 'Intrument', 'TOGA')

# add flight name and notes 
toga_df.insert(1, 'Flight', myflights)
toga_df.insert(2, 'Notes', flightnotes)

# add attributes 
toga_df['GGALT'] = toga_trc.GGALT
toga_df['GGLAT'] = toga_trc.GGLAT
toga_df['GGLON'] = toga_trc.GGLON
#toga_df['WIC'] = toga_trc.WIC


# add all tracers back in 
for ii in toga_trc.data_vars:
    toga_df[str(ii)] = toga_trc[ii]

# pickle it! 
toga_df.to_pickle("./toga_data_df_twp.pkl")

In [8]:
################# -------------------- AWAS  -------------------- #################

In [9]:
# AWAS - sort flights dates into flight names and notes (from Pan, BAMS 2017) for adding to dataframe 
myflights = []
flightnotes = []

for ii in awas_trc.Time_UTC.values:
    t = np.datetime64(ii)
#RF 03 ---> 2014-01-17 00:16:06
    if (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 17):
        myflights.append('RF03')
        flightnotes.append('Domain survey, 1 - Guam to SE (Chuuk)')
#RF 04 ---> 2014-01-19 00:29:14
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 19):
        myflights.append('RF04')
        flightnotes.append('Domain survey, 1 - Guam to SW (Palau)')
#RF 05 ---> 2014-01-22 00:18:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 22):
        myflights.append('RF05')
        flightnotes.append('Convective outflow, 2 - North of Guam')
#RF06 starts on 2014-01-24 23:54:06 and ends on 2014-01-25 07:04:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 24):
        myflights.append('RF06')
        flightnotes.append('Jet crossing/pre–postfrontal contrast, 4, 5 - N/NW of Guam, entering Fukuoka FIR (JPN)')
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 25):
        myflights.append('RF06')
        flightnotes.append('Jet crossing/pre–postfrontal contrast, 4, 5 - N/NW of Guam, entering Fukuoka FIR (JPN)')
#RF07 starts on 2014-01-28 23:53:06 and ends on 2014-01-29 06:13:06
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 28):
        myflights.append('RF07')
        flightnotes.append('SH convective outflow survey, 1, 4 - Guam to equatorial region')
    elif (pd.to_datetime(t).month == 1) and (pd.to_datetime(t).day == 29):
        myflights.append('RF07')
        flightnotes.append('SH convective outflow survey, 1, 4 - Guam to equatorial region')
#RF 08 ---> 2014-02-01 04:04:05
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 1):
        myflights.append('RF08')
        flightnotes.append('Photochemical evolution– sunset, 3, 7 - Guam to E (stagnation point of A.C.)')
#RF 09 ---> 2014-02-04 00:00:06
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 4):
        myflights.append('RF09')
        flightnotes.append('Equatorial crossing and Manus ozonesonde, 2, 6 - Guam to Port Moresby FIR (PNG)')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 5):
        myflights.append('RF09')
        flightnotes.append('Equatorial crossing and Manus ozonesonde, 2, 6 - Guam to Port Moresby FIR (PNG)')
#RF 10 ---> 2014-02-08 00:18:05 
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 8):
        myflights.append('RF10')
        flightnotes.append('Subtropical jet pollution and ITCZ survey, 2, 5 - Guam to near equator crossing ITCZ near 6°N')
#RF11 starts on 2014-02-12 23:59:25 and ends on 2014-02-13 06:29:25
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 12):
        myflights.append('RF11')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SW')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 13):
        myflights.append('RF11')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SW')
#RF 12 ---> 2014-02-17 00:04:05
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 17):
        myflights.append('RF12')
        flightnotes.append('Convective outflow and coordinate flight, 2, 6, 7 - Guam to S/SE')
#RF13 starts on 2014-02-19 17:02:05 and ends on 2014-02-20 00:20:03
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 19):
        myflights.append('RF13')
        flightnotes.append('Photochemical evolution– sunrise, 3 - Guam to E (stagnation point of A.C.)')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 20):
        myflights.append('RF13')
        flightnotes.append('Photochemical evolution– sunrise, 3 - Guam to E (stagnation point of A.C.)')
#RF 14 ---> 2014-02-22 00:08:05 
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 22):
        myflights.append('RF14')
        flightnotes.append('Equator crossing, SH TTL survey, Manus ozonesonde, 1, 2, 6')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 23):
        myflights.append('RF14')
        flightnotes.append('Equator crossing, SH TTL survey, Manus ozonesonde, 1, 2, 6')
#RF 15 ---> 2014-02-22 00:08:05 
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 24):
        myflights.append('RF15')
        flightnotes.append('Jet crossing and LS survey, 4')
    elif (pd.to_datetime(t).month == 2) and (pd.to_datetime(t).day == 25):
        myflights.append('RF15')
        flightnotes.append('Jet crossing and LS survey, 4')

In [10]:
# put awas into one dataframe, start building with time 
awas_df = pd.DataFrame({"Time_UTC": awas_trc.Time_UTC})
awas_df.insert(1, 'Intrument', 'AWAS')

# add flight name and notes 
awas_df.insert(1, 'Flight', myflights)
awas_df.insert(2, 'Notes', flightnotes)

# add attributes 
awas_df['GGALT'] = awas_trc.GGALT
awas_df['GGLAT'] = awas_trc.GGLAT
awas_df['GGLON'] = awas_trc.GGLON

# fix RF09 - change awas date 2-5 to 2-4 
awas_rf09 = awas_df[awas_df['Flight'] == 'RF09']
for idx in awas_rf09.iterrows():
        t = idx[1].Time_UTC
        thr = t.hour
        tmin = t.minute
        tsec = t.second
        newt = dt.datetime(2014, 2, 4, thr, tmin, tsec)
        awas_df.loc[idx[0], 'Time_UTC'] = newt

# add all tracers back in 
for ii in awas_trc.data_vars:
    awas_df[str(ii)] = awas_trc[ii]

# pickle it! 
awas_df.to_pickle("./awas_data_df_twp.pkl")

In [11]:
awas_df

,Time_UTC,Flight,Notes,Intrument,GGALT,GGLAT,GGLON,C2H6_Ethane,C2H2_Ethyne,C3H8_Propane,...,C2Br2F4_Halon_2402,CH2BrCl_Bromochloromethane,CH2Br2_Methylene_bromide,CHBrCl2_Bromodichloromethane,CHBr2Cl_Dibromochloromethane,CHBr3_Bromoform,C2H5ONO2_Ethyl_nitrate,C3H7NO3_Isopropyl_nitrate,C4H9NO3_2_Butyl_nitrate,C4H9NO3_n_Butyl_nitrate
0,2014-01-22 00:20:30,RF05,"Convective outflow, 2 - North of Guam",AWAS,3846.637695,13.294079,145.204651,447.0,81.0,31.0,...,0.43,0.11,0.96,NaN,0.32,0.77,4.20,1.94,1.11,0.00
1,2014-01-22 00:23:14,RF05,"Convective outflow, 2 - North of Guam",AWAS,4106.623047,13.180140,145.342590,436.0,60.0,29.0,...,0.42,0.13,0.98,NaN,0.38,0.76,4.36,1.78,0.91,0.00
2,2014-01-22 00:24:32,RF05,"Convective outflow, 2 - North of Guam",AWAS,4897.260254,13.092679,145.384384,443.0,52.0,26.0,...,0.43,0.14,1.04,NaN,0.52,0.80,4.08,1.80,1.07,0.00
3,2014-01-22 00:29:33,RF05,"Convective outflow, 2 - North of Guam",AWAS,5214.602539,12.798261,145.677261,461.0,52.0,31.0,...,0.43,0.16,1.01,0.67,0.43,0.89,4.35,1.84,1.05,0.00
4,2014-01-22 00:35:09,RF05,"Convective outflow, 2 - North of Guam",AWAS,3864.213867,12.504611,145.991043,408.0,37.0,20.0,...,0.40,0.12,0.98,0.65,0.23,0.66,3.98,1.63,0.59,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,2014-02-25 07:03:51,RF15,"Jet crossing and LS survey, 4",AWAS,4824.886719,13.476178,143.409912,804.0,108.0,86.0,...,0.41,0.23,1.00,0.19,0.13,0.58,2.06,2.68,0.97,1.91
537,2014-02-25 07:07:51,RF15,"Jet crossing and LS survey, 4",AWAS,4820.943359,13.387949,143.809616,777.0,105.0,80.0,...,0.41,0.18,1.00,0.29,0.14,0.51,2.10,2.55,0.95,1.78
538,2014-02-25 07:11:51,RF15,"Jet crossing and LS survey, 4",AWAS,3203.323486,13.389318,144.199387,646.0,102.0,52.0,...,0.41,0.20,0.88,0.28,0.13,0.45,2.26,1.96,0.78,1.15
539,2014-02-25 07:15:49,RF15,"Jet crossing and LS survey, 4",AWAS,1340.690674,13.388123,144.500259,743.0,101.0,57.0,...,0.41,0.20,0.99,0.28,0.14,0.63,2.27,2.54,0.91,1.62
540,2014-02-25 07:17:29,RF15,"Jet crossing and LS survey, 4",AWAS,952.710022,13.395386,144.606308,746.0,116.0,59.0,...,0.41,0.19,0.95,0.34,0.15,0.54,2.29,2.78,1.03,1.69