In [29]:
# script to get TTS for all UT segments 
# date created: 3/2/2020
# author: sofia chelpon

In [30]:
############################ PREP WORKSPACE ############################

In [31]:
import numpy as np 
import pandas as pd

import matplotlib
from matplotlib import pyplot as plt

%matplotlib inline
%config inlinebackend.figure_format='retina'

# import my TTS module, need to add path to folder
import sys
sys.path.insert(1, '/Volumes/scdrive2/TTS_2020/base_tts_code/')
import tts_mod

In [32]:
# read in ratios dataframe
path = "/Volumes/scdrive2/TTS_2020/get_tts/tts_vary_ut/data_prep/contrast_ratios_ut_seg.pkl"
contrast_ratios = pd.read_pickle(path)
info = contrast_ratios.iloc[[0, 1]]
segment_info = info.drop(columns = 'Instrument').drop(columns = 'BL_tau').drop(columns = 'TROPO_tau').drop(columns = 'UT_tau')
seg_info = segment_info.transpose()

# get index of each flight 
idx_rf05 = seg_info[seg_info['Flight'] == 'RF05'].index.tolist()
idx_rf06 = seg_info[seg_info['Flight'] == 'RF06'].index.tolist()
idx_rf07 = seg_info[seg_info['Flight'] == 'RF07'].index.tolist()
idx_rf08 = seg_info[seg_info['Flight'] == 'RF08'].index.tolist()
idx_rf09 = seg_info[seg_info['Flight'] == 'RF09'].index.tolist()
idx_rf10 = seg_info[seg_info['Flight'] == 'RF10'].index.tolist()
idx_rf11 = seg_info[seg_info['Flight'] == 'RF11'].index.tolist()
idx_rf12 = seg_info[seg_info['Flight'] == 'RF12'].index.tolist()
idx_rf13 = seg_info[seg_info['Flight'] == 'RF13'].index.tolist()
idx_rf14 = seg_info[seg_info['Flight'] == 'RF14'].index.tolist()

In [33]:
# sort 
ratios_sort = contrast_ratios
ratios_sort = ratios_sort.drop('Time_UTC').drop('Flight')
ratios_sort = ratios_sort.sort_values(['BL_tau'])

# save ordered bl tau as a variable 
tau = ratios_sort['BL_tau']

# drop uncecessary columns 
ratios_sort = ratios_sort.drop(columns = ['Instrument', 'BL_tau', 'TROPO_tau', 'UT_tau'])
ratios_sort.head()

,0,1,2,3,4,5,6,7,8,9,...,196,197,198,199,200,201,202,203,204,205
Acetaldehyde,0.0129984,0.0129984,0.0129984,0.0129984,NaN,0.0129984,NaN,NaN,0.0129984,0.0129984,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C2H6S_Dimethyl_sulfide,0.00604903,0.00604903,NaN,NaN,NaN,NaN,0,0,0,0.00604903,...,0.00604903,0,0.0120981,NaN,NaN,NaN,0.151226,0.0241961,NaN,NaN
C5H12_nPentane,NaN,NaN,0.0478984,NaN,0.502933,0.0239492,NaN,0.814272,0.0239492,0.119746,...,NaN,NaN,NaN,0.0478984,0.0957967,NaN,NaN,NaN,NaN,NaN
C4H10_nButane,0.0622095,0.0912406,0.103682,0.0787987,0.67601,0.15345,0.157597,0.35252,0.15345,0.203218,...,0.0787987,0.0497676,0.0539149,0.0663568,0.041473,0.0497676,0.0539149,0.0539149,0.0539149,0.132714
n_Butane,0.0469597,0.0636609,0.0147363,0.0797726,0.774541,0.23362,0.236567,0.258377,0.197663,0.255822,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
############ --------------- LOOP THRU EACH SEGMENT, GET TTS OUTPUT --------------- ###########
# --------------- things to fill 
# save outputs to plot later 
r2_rf06 = []
mean_rf06 = []
mode_rf06 = []
num = []

utbl_rf06 = pd.DataFrame()
mustar_rf06 = pd.DataFrame()
gf_rf06 = pd.DataFrame()
t_rf06 = pd.DataFrame()
tau_rf06 = pd.DataFrame()

for col in ratios_sort[idx_rf06].columns: 
    utbl_rf06[col] = ''
    mustar_rf06[col] = ''
    gf_rf06[col] = ''
    t_rf06[col] = ''
    tau_rf06[col] = ''
    

# max length of G(t), usually 275999 but make higher so it doesnt fail 
topg = 276000

In [28]:
############ --------------- LOOP THRU EACH SEGMENT, GET TTS OUTPUT --------------- ###########
# --------------- things to fill 
# save outputs to plot later 
r2_rf06 = []
mean_rf06 = []
mode_rf06 = []
num = []

utbl_rf06 = pd.DataFrame()
mustar_rf06 = pd.DataFrame()
gf_rf06 = pd.DataFrame()
t_rf06 = pd.DataFrame()
tau_rf06 = pd.DataFrame()
bestk_rf06 = pd.DataFrame()

for col in ratios_sort[idx_rf06].columns: 
    utbl_rf06[col] = ''
    mustar_rf06[col] = ''
    gf_rf06[col] = ''
    t_rf06[col] = ''
    tau_rf06[col] = ''
    bestk_rf06[col] = ''

# max length of G(t), usually 275999 but make higher so it doesnt fail 
topg = 276000

for col in ratios_sort[idx_rf06]:
    print(col)
    # ----- remove nans or else tts function fails 
    utbl_full = np.array(ratios_sort[col].values, dtype=np.float64)
    utbl_not_null_idx = np.argwhere(~np.isnan(utbl_full))
    # ----- inputs without nans 
    my_utbl = utbl_full[utbl_not_null_idx]
    my_tau = tau[utbl_not_null_idx]
    #
    # ----- run tts function 
    t, exp_decay_matrix, LT = tts_mod.prep_for_tts(my_tau)
    my_mustar, my_r2, my_gf, my_t, mean_age, mode_age, best_k = tts_mod.get_tts(my_utbl, my_tau, t, exp_decay_matrix, LT)
    #
    # ----- fill to make mu*, tau all length 52
    diffa = len(utbl_full) - len(my_utbl)
    if (diffa > 0):
        filla = np.empty((1,diffa))
        filla.fill(np.nan)
        my_tau = np.append(my_tau, filla)
        my_mustar = np.append(my_mustar, filla)
        my_utbl = np.append(my_utbl, filla)
    # ----- fill to make gf, t all length 275999
    diffb = 275999 - len(my_gf)
    if (diffb > 0):
        fillb = np.empty((1,diffb))
        fillb.fill(np.nan)
        my_gf = np.append(my_gf, fillb)
        my_t = np.append(my_t, fillb)
    #
    # ----- save individual values 
    bestk_rf06.append(best_k)
    r2_rf06.append(my_r2)
    mean_rf06.append(mean_age)
    mode_rf06.append(mode_age)
    # ----- save to dataframes
    utbl_rf06[col] = np.ndarray.flatten(my_utbl)
    mustar_rf06[col] = np.ndarray.flatten(my_mustar)
    tau_rf06[col] = np.ndarray.flatten(my_tau)
    gf_rf06[col] = np.ndarray.flatten(my_gf)
    t_rf06[col] = np.ndarray.flatten(my_t)

16

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
############ --------------- SAVE OUTPUTS TO PICKLE --------------- ###########
# make dataframe for r2, mean, mode, segment info 
r2_allseg = pd.Series(r2_allseg)
mean_allseg = pd.Series(mean_allseg)
mode_allseg = pd.Series(mode_allseg)

segment_info = segment_info.transpose()

segment_info['r squared'] = r2_allseg
segment_info['mean age'] = mean_allseg
segment_info['mode age'] = mode_allseg

segment_info.to_pickle('./segment_info.pkl')

# save others 
utbl_allseg.to_pickle('./utbl_allseg.pkl')
mustar_allseg.to_pickle('./mustar_allseg.pkl')
tau_allseg.to_pickle('./tau_allseg.pkl')
gf_allseg.to_pickle('./gf_allseg.pkl')
t_allseg.to_pickle('./t_allseg.pkl')